# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
iOS/Project/build/
iOS/Project/DerivedData/
iOS/Core/build/
iOS/Core/DerivedData/

## Various settings
iOS/Project/*.pbxuser
iOS/Project/!default.pbxuser
iOS/Project/*.mode1v3
iOS/Project/!default.mode1v3
iOS/Project/*.mode2v3
iOS/Project/!default.mode2v3
iOS/Project/*.perspectivev3
iOS/Project/!default.perspectivev3
iOS/Project/xcuserdata/
iOS/Core/*.pbxuser
iOS/Core/!default.pbxuser
iOS/Core/*.mode1v3
iOS/Core/!default.mode1v3
iOS/Core/*.mode2v3
iOS/Core/!default.mode2v3
iOS/Core/*.perspectivev3
iOS/Core/!default.perspectivev3
iOS/Core/xcuserdata/

## Other
iOS/Project/*.moved-aside
iOS/Project/*.xccheckout
iOS/Project/*.xcscmblueprint
iOS/Core/*.moved-aside
iOS/Core/*.xccheckout
iOS/Core/*.xcscmblueprint

## Obj-C/Swift specific
iOS/Project/*.hmap
iOS/Project/*.ipa
iOS/Project/*.dSYM.zip
iOS/Project/*.dSYM
iOS/Core/*.hmap
iOS/Core/*.ipa
iOS/Core/*.dSYM.zip
iOS/Core/*.dSYM

## Playgrounds
#iOS/timeline.xctimeline
#iOS/playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
iOS/.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
iOS/Project/Carthage/Checkouts
iOS/Project/Carthage/Build
iOS/Core/Carthage/Checkouts
iOS/Core/Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

#iOS/fastlane/report.xml
#iOS/fastlane/Preview.html
#iOS/fastlane/screenshots
#iOS/fastlane/test_output

# google api key
iOS/Project/CleanArchitecture/app/Constants.swift
