# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
iOS/build/
iOS/DerivedData/

## Various settings
iOS/*.pbxuser
iOS/!default.pbxuser
iOS/*.mode1v3
iOS/!default.mode1v3
iOS/*.mode2v3
iOS/!default.mode2v3
iOS/*.perspectivev3
iOS/!default.perspectivev3
iOS/xcuserdata/

## Other
iOS/*.moved-aside
iOS/*.xccheckout
iOS/*.xcscmblueprint

## Obj-C/Swift specific
iOS/*.hmap
iOS/*.ipa
iOS/*.dSYM.zip
iOS/*.dSYM

## Playgrounds
iOS/timeline.xctimeline
iOS/playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
iOS/.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

iOS/Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

iOS/fastlane/report.xml
iOS/fastlane/Preview.html
iOS/fastlane/screenshots
iOS/fastlane/test_output

# google api key
iOS/CleanArchitecture/app/Constants
